 



    <div class="header">
        
          <h1 class="login">Login</h1>
      <div   class="form_header"  >
          <form class="form">
      
        <div class="forms">
          
            
           
          <div class="email">
            <label class="e" >Email: </label>
              <input type="email" placeholder="Enter Your Email" required class="inputs"/>
              <br>
          
             </div>
             <div class="pass">
              <label class="e">Password:</label>
              <input type="password" placeholder="Enter Password" class="inputs"/>
              <br>
              </div>
              <div>
              <button class="btn">Submit</button>
             </div>
        </div>
          <div class="register">
            <h4 class="new">Already user?<span><a href="#Register" routerLink="/reg" >Register</a></span></h4>
          </div>
          </form>
      </div>
 